In [2]:
%config IPCompleter.greedy=True
import pandas as pd

df_data = pd.read_csv('consultas_externas_2009.csv', sep = ';',encoding = "ISO-8859-1")

df_data

,id,cod_depto,departamento,cod_mun,municipio,ce_menores_de_5_aÃ±os,ce_mayores_de_5_aÃ±os,ce_total_general,promedio_menor_de_5_aÃ±os,promedio_mayor_de_5_aÃ±os,promedio_general
0,1,1,CHUQUISACA,10101,SUCRE,141062,514909,655971,"4,130052411","1,95589094","2,20557023"
1,2,1,CHUQUISACA,10102,YOTALA,4080,8791,12871,"3,51723796","0,983342434","1,274366733"
2,3,1,CHUQUISACA,10103,POROMA,10514,12906,23420,"4,781258866","0,762638583","1,224778275"
3,4,1,CHUQUISACA,10201,AZURDUY,9859,10553,20412,"4,778993497","1,037653671","1,668594967"
4,5,1,CHUQUISACA,10202,TARVITA,14403,18451,32854,"4,671791548","1,214598628","1,797855072"
...,...,...,...,...,...,...,...,...,...,...,...
322,323,9,PANDO,90401,NACEBE (SANTA ROSA DEL ABUNA),1506,7690,9196,"3,941121584","3,100704989","3,212906547"
323,324,9,PANDO,90402,INGAVI (HUMAITA),1456,1395,2851,"13,35348987","1,937435724","3,438838267"
324,325,9,PANDO,90501,NUEVO MANOA (NUEVA ESPERANZA),1005,2545,3550,"5,915058412","2,575835787","3,065804706"
325,326,9,PANDO,90502,VILLA NUEVA (LOMA ALTA),2407,2293,4700,"13,08898195","2,146937377","3,75420908"
326,327,9,PANDO,90503,EUREKA (SANTOS MERCADO),879,552,1431,"6,065481346","0,607901417","1,359025476"

In [ ]:

departamento, municipio, tipo_persona, establecimiento
CHUQUISACA     SUCRE     menor_5_anho    HOS_A
CHUQUISACA     SUCRE     menor_5_anho    HOS_A
CHUQUISACA     SUCRE     menor_5_anho    HOS_A
CHUQUISACA     SUCRE     menor_5_anho    HOS_A
CHUQUISACA     SUCRE     menor_5_anho    HOS_A
CHUQUISACA     SUCRE     mayor_5_anho    HOS_A
CHUQUISACA     SUCRE     mayor_5_anho    HOS_A
CHUQUISACA     SUCRE     mayor_5_anho    HOS_A
CHUQUISACA     SUCRE     mayor_5_anho    HOS_A
CHUQUISACA     SUCRE     mayor_5_anho    HOS_A