In [15]:
%config IPCompleter.greedy=True
import pandas as pd

df_data = pd.read_csv('Medico.csv', sep = ',"',encoding = "ISO-8859-1")

df_data['"NOMBRE'] = df_data['"NOMBRE'].str.replace('"','')
df_data['"APELLIDO_PATERNO""'] = df_data['"APELLIDO_PATERNO""'].str.replace('"','')

df_data['"MATERNO""'] = df_data['"MATERNO""'].str.replace('"','')
df_data['"SEXO""'] = df_data['"SEXO""'].str.replace('"','')
df_data

C:\Users\CHEYO\anaconda3\lib\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

,"""NOMBRE","""APELLIDO_PATERNO""""","""MATERNO""""","""SEXO""""","""EDAD""""","""EDUCACION""""","""CIUDAD""""","""PROFESION"""""""
0,DANIEL HAROLDO,HURTADO,TERRAZAS,1,"""38""""","""PROFESIONAL""""","""SANTA CRUZ""""","""JEFE DE SERVICIO"""""""
1,ROSARIO AMPARO,ZURITA,BEJARANO,2,"""44""""","""PROFESIONAL""""","""SANTA CRUZ""""","""CARDIOLOGO"""""""
2,FELIX ANTONIO,MORALES,PAROBA,1,"""41""""","""PROFESIONAL""""","""SANTA CRUZ""""","""MEDICO GENERAL"""""""
3,GUERY,ILLANES,PEREDO,1,"""41""""","""PROFESIONAL""""","""SANTA CRUZ""""","""MEDICO GENERAL"""""""
4,CLAUDIA CECILIA,CABRERA,AGUILERA,2,"""40""""","""PROFESIONAL""""","""SANTA CRUZ""""","""MEDICO GENERAL"""""""
...,...,...,...,...,...,...,...,...
195,YNGRID,ARTUNDUAGA,ALPIRE,2,"""39""""","""PROFESIONAL""""","""SANTA CRUZ""""","""GINECOLOGO"""""""
196,ANAY BELINA,VARGAS,CAMACHO,2,"""35""""","""PROFESIONAL""""","""SANTA CRUZ""""","""ENFERMERA/O"""""""
197,ALVARO MARTIN,BONSAK,ARCE,1,"""40""""","""PROFESIONAL""""","""LA PAZ""""","""ENFERMERA/O"""""""
198,ANA ISABEL,HERRERA,PARRA,2,"""37""""","""PROFESIONAL""""","""SANTA CRUZ""""","""ENFERMERA/O"""""""
199,NELSON,OLIVA,BANEGAS,1,"""34""""","""PROFESIONAL""""","""SANTA CRUZ""""","""ENFERMERA/O"""""""