In [1]:
def load_hospitales():
    hospitales = ['establecimiento_salud_beni.csv_clean.csv', 
                      'establecimiento_salud_chuquisaca.csv_clean.csv', 
                      'establecimiento_salud_cochabamba.csv_clean.csv',
                      'establecimiento_salud_la_paz.csv_clean.csv',
                      'establecimiento_salud_oruro.csv_clean.csv',
                      'establecimiento_salud_pando.csv_clean.csv',
                      'establecimiento_salud_potosi.csv_clean.csv',
                      'establecimiento_salud_santa_cruz.csv_clean.csv',
                      'establecimiento_salud_tarija.csv_clean.csv'
                     ]
    first_time = True ;
    for hospital in hospitales:
        df_h = pd.read_csv('C:/Users/CHEYO/Documents/upb/modulo7/maternologico-bigdata/source/hospitales/'+hospital,encoding = "ISO-8859-1")
        
        if first_time:
            df_hospital = df_h
            first_time = False
        else:
            df_hospital = pd.concat([df_hospital,df_h])
            
    return df_hospital

In [2]:
def find_hospital(departamento, municipio, df_hospital):
    df_result  = df_hospital[(df_hospital['departamento']==departamento) & (df_hospital['municipio']== municipio) ]
    
    if df_result.empty:
        df_result  = df_hospital[(df_hospital['departamento']== departamento)  ]
    #obtenemos un valor aleatorio
    if df_result.empty:
        df_result = df_hospital
        
    return df_result.sample()

In [ ]:
# Codigo para lectura, limpieza, transaformacion, creacion dataset, transformacion del dataframe
# envio del dataframe al cluster

import pandas as pd
from pymongo import MongoClient
from datetime import datetime

print("Begining : {}".format(datetime.now()))

anhos = ['2009'] #,'2010','2011','2012','2013','2014','2015']

df_hospital = load_hospitales()
    
for anho in (anhos):    
    print('--------------')
    
    file_name = 'control_prenatal_' + anho + '.csv'
    
    print('Procesing: ' + file_name)
    print("Starting : {}".format(datetime.now()))
    df_cobertura = pd.read_csv(file_name, sep = ';')
   
    #listas para poblar
    l_departamento = [] 
    l_municipio = []
    l_peso = []
    l_presion = []
    l_edad = []
    l_profesion = []
    l_temperatura = []
    l_anho=  []
    

    #limpiamos los valores numericos con 0
    df_cobertura['ce_menores_de_5_años'] = df_cobertura['ce_menores_de_5_años'].fillna(0)
    df_cobertura['ce_mayores_de_5_años'] = df_cobertura['ce_mayores_de_5_años'].fillna(0)

    print('Creating Dataset...')
    
    #iteramos para poblar nuestro dataset
    for index, row in df_cobertura.iterrows():
        
        #buscamos el hospital de acuerdo al departamento y municipio
        found_hospital = find_hospital(row['departamento'], row['municipio'], df_hospital)

        count_menores_5 = int(row['ce_menores_de_5_años'])
        print("Creating ce_menores_5_anhos {} records. {} {}". format(count_menores_5,row['departamento'], row['municipio']))
        for i in range(count_menores_5):
            l_departamento.append(row['departamento'].strip())
            l_municipio.append(row['municipio'].strip())
            l_tipo.append('menor_5')        
            l_establecimiento.append({'nombre': found_hospital.iloc[0,3].strip()})
            l_anho.append(anho)

        dataset = { 
                'departamento' : l_departamento , 
                'municipio' : l_municipio ,
                'tipo' : l_tipo,
                'establecimiento' : l_establecimiento,
                'anho' : l_anho
              }

        count_mayores_5 = int(row['ce_mayores_de_5_años'])
        print("Creating ce_mayores_5_anhos {} records. {} {}". format(count_mayores_5, row['departamento'], row['municipio']))
        
        for i in range(count_mayores_5):
            l_departamento.append(row['departamento'].strip())
            l_municipio.append(row['municipio'].strip())
            l_tipo.append('mayor_5')        
            l_establecimiento.append( {'nombre': found_hospital.iloc[0,3].strip()})
            l_anho.append(anho)

            dataset = { 
                'departamento' : l_departamento , 
                'municipio' : l_municipio ,
                'tipo' : l_tipo,
                'establecimiento' : l_establecimiento,
                'anho' : l_anho
              }


    df_frame = pd.DataFrame(dataset , columns = ['departamento', 'municipio', 'tipo', 'establecimiento', 'anho'])
    print('Finish creating dataframe..')
    print('Records Created : {}'.format(df_frame.count()[0]))


    # Load csv dataset

    # Connect to MongoDB
    print('Connecting to Cluster...')
    client =  MongoClient("mongodb+srv://maternologico:maternologico@cluster0.5da7i.mongodb.net/maternologico?retryWrites=true&w=majority")
    
    print('Connecting to Database maternologico...')
    db = client['maternologico']
    collection = db['consultas_externas']
    df_frame.reset_index(inplace=True)
    data_dict = df_frame.to_dict("records")
    
    # Insert collection
    print('Inserting data...')
    collection.insert_many(data_dict)

    print('Data Completed!')
    print('Finish Procesing: ' + f)
    print('Finish Time: {}'.format(datetime.now()))
    print('--------------')

print("Finish All")

In [4]:
import pandas as pd
df_consulta = pd.read_csv('control_prenatal_2009.csv', sep = ';')
df_consulta

,id,cod_dep,departamento,cod_mun,municipio,mujeres_con_4ta_consulta_ prenatal,cobertura
0,1,1,CHUQUISACA,10101,SUCRE,8738.0,"0,88406967"
1,2,1,CHUQUISACA,10102,YOTALA,133.0,"0,413469072"
2,3,1,CHUQUISACA,10103,POROMA,338.0,"0,560479824"
3,4,1,CHUQUISACA,10201,AZURDUY,188.0,"0,659537596"
4,5,1,CHUQUISACA,10202,TARVITA,303.0,"0,718075663"
...,...,...,...,...,...,...,...
321,322,9,PANDO,90401,NACEBE (SANTA ROSA DEL ABUNA),39.0,"0,497003604"
322,323,9,PANDO,90402,INGAVI (HUMAITA),8.0,"0,412823506"
323,324,9,PANDO,90501,NUEVO MANOA (NUEVA ESPERANZA),6.0,"0,169098859"
324,325,9,PANDO,90502,VILLA NUEVA (LOMA ALTA),32.0,"0,891573199"
325,326,9,PANDO,90503,EUREKA (SANTOS MERCADO),9.0,"0,492153396"

In [21]:
a = df_temperatura.sample()
print (a.iloc[0:1] )

   valor
8   36.8

In [24]:
def getRandomTemperature():
    dataset = { 'valor' : [36.0,36.1,36.2,36.3,36.4,36.5,36.6,36.7,36.8,36.9,37.0,37.1,37.2,37.3,37.4,37.5] }
    df_temperatura = pd.DataFrame(dataset , columns = ['valor'])
    
    return df_temperatura.sample()